In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
cli_data = pd.read_csv("C:/Users/Ann/Desktop/DATA 3/climate_change.csv")
# cli_data.to_csv("C:/Users/Ann/Desktop/DATA 3/climate_change.csv")

In [35]:
cli_data.describe(include ='all')

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,29523.000000,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,NaN,NaN,NaN,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,f1_fuel_1994_12_1_0_7,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,14761.000000,14761.000000,14761.000000,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,8522.700335,8522.700335,8522.700335,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,0.000000,0.000000,0.000000,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,7380.500000,7380.500000,7380.500000,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,14761.000000,14761.000000,14761.000000,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,22141.500000,22141.500000,22141.500000,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,29522.000000,29522.000000,29522.000000,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [38]:
cli_data.isnull().sum()

Unnamed: 0                        0
Unnamed: 0.1                      0
Unnamed: 0.1.1                    0
record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64